* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    margin-bottom: 10px;
    user-select: none;
}

label {
    user-select: none;
}

input:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0,0,0,0.05);
}

.main-container {
    display: grid;
    grid-template-areas: "left right";
    height: 500px;
}

body {
    align-items: center;
    background: #D8AA96;
    color: rgba(0, 0, 0, 0.8);
    display: grid;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    height: 100vh;
    justify-items: center;
}

.header {
    padding: 15px 25px 0px 25px;
}

.left-container {
    width: 250px;   
    overflow: hidden;
    position: relative;
    text-align: center;
}

.movie-poster {
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
    object-position: 80%;
}

.right-container {
    background: #f9c7c2;
    display: grid;
    grid-template-rows: 1fr auto;
    width: 500px;
}

.footer {
    display: grid;
    align-items: center;
    background: #fff;
    padding: 5px 40px;
}

.footer button {
    border: 1px solid rgba(0, 0, 0, 0.2);
    height: 38px;
    line-height: 38px;
    width: 100px;
    border-radius: 19px;
    font-family: "Montserrat", sans-serif;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.footer #clear{
    background: #fff;
    transition: 0.2s all ease-in-out;
}

.footer #clear:hover{
    background: #171A2B;
    color: white;
}

.footer #add {
    background: #807182;
    border: 1px solid transparent;
    color: white;
}
.footer #add:hover {
    background: #171A2B;
}

.movie-title,
.movie-description,
.release-year {
  display: flex;
  flex-direction: column; 
  margin-bottom: 15px;
}

.movie-title label,
.movie-description label,
.release-year label {
    margin-bottom: 3px;
    margin-left: 2px;
}

.movie-title input,
.movie-description input, 
.release-year input {
    height: 38px;
    padding: 5px 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
}

.category-group {
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 20px;
}

.checkbox-container {
    gap: 10px;
    background: #fff;    
    border: 1px solid rgba(0,0,0,0.1);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 5px;
    border-radius: 4px;
    transition: 0.3s all ease;
}

.checkbox-container label {
    background: transparent;
    border: 1px solid transparent;
    border-radius: 2px;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    text-align: center;
    transition: border 0.6s ease, background-color 0.3s ease;
    width: 100%;
    user-select: none;
}

.checkbox-container input[type=checkbox] {
    display: none; /* hide the default checkbox */
}

.checkbox-container input[type=checkbox]:checked + label {
    background: #F7B1AB;
    border: 1px solid rgba(0,0,0,0.1);
}

.checkbox-container label:hover {
    border: 1px solid rgba(0, 0, 0, 0.6);
    transition: border 0.2s ease, background-color 0.3s ease;
}